.gallery {
    width: 100%;
    padding: .5vw;
}

.gallery-image {
    width: 25%;
    float: left;
    padding: .5rem;

    @media (max-width: 800px) {
        width: 33.333%;
    }

    @media (max-width: 600px) {
        width: 50%;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
}

.gallery-image .image {
    width: 100%;
    padding-bottom: 100%;
    max-width: 100%;
    margin-bottom: 0;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery-image-meta {
    padding: .5rem;
}

.gallery-image-price {
    margin-bottom: .5rem;
    display: inline-block;
}

.sold {
    transform: scale(.75);
    color: red;
}

.gallery-image .sold {
    float: right;
}
