.nav {
    float: right;
}

.nav--main li {
    display: inline-block;
}

.nav--main li a {
    @extend .black;
    transition: $transition;
    display: inline-block;
    padding: rhythm(2) rhythm(2);

    &:hover {
        color: $grey;
        transition: $transition;
    }
}

.hamburger {
    display: none;
    float: right;
    margin-top: rhythm(2);
}

@media (max-width: 750px) {
    .nav {
        float: left;
        display: block;
        width: 100%;
    }

    .hamburger {
        display: block;
    }
}

