/**
 * Type Defaults
 *
 * Create your own config file and to override the variables
 * You only need to add the ones you want to change
 */

// The base font size
$base: 20px !default;

// Ratio for type scale
$ratio: 1.333 !default;

// Vertical spacing set
$rhythm: 0.75 !default;

// The font family
$family: 'Source Sans Pro', sans-serif !default;
