/**
 * Create a multiple of the rhythm
 */
@function rhythm($num) {
    @return $num * $rhythm * 1rem;
}

/**
 * Calculate $x to the power of $n
 */
@function power ($x, $n) {
    $ret: 1;

    @if $n >= 0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        }
    } @else {
        @for $i from $n to 0 {
            $ret: $ret / $x;
        }
    }

    @return $ret;
}

/**
 * Create font size with scale based on the $ratio
 */
@mixin scale($factor) {

    $size: power($ratio, $factor);

    @if ( $factor == 0 ) {
        $size: 1;
    }

    font-size: 1rem * $size;

    @if ( $size >= $rhythm ) {
        line-height: ( round($size) * $rhythm) * 1rem;
    } @else {
        line-height: $rhythm * 1rem;
    }
}
