.m0-a {
  margin: 0 auto;
}

.h-40rem {
  height: 40rem;
}

.h-30rem {
  height: 30rem;
}

.h-5rem {
  height: 5rem;
}

.h-10rem {
  height: 10rem;
}

.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}
